table{
    border: 2px solid red;
}
th, td {
    border: 2px solid rgb(128, 170, 174);
}
caption{
    border: 2px solid rgb(128, 38, 0);
}
.sobresaliente{
    background-color: green;
}
.suspenso{
    background-color: red;
}
.notable{
    background-color: yellowgreen;
}
.aprobado{
    background-color: yellow;
}